/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.test_small {
	font-size: 12px;
	line-height: 10px;
}

.header_movie {
	color:  #b9b7b7;
	font-family: "Dosis", serif;

}

.tester {
	font-family: "Dosis", serif;
	color: #b9b7b7;
	font-size: 3em;
	font-weight: 300;
}
.test {
	padding-top: 200px;
}

.header__nav {
	float: right;
	padding-top: 20px;
}
.header__nav li {
	float: left;
	list-style-type: none;
	padding-left: 10px;

}
.page {
	color: grey;
 	font-family: "Dosis", serif;
}
.nav__container {
	border-bottom: 10px;
	font-family: "Dosis", serif;
}


.header__xs {
  color: #b9b7b7;
  font-size: 3em;
  font-weight: 300;
}


.poster {
	float: right;
}
