<div class="container">
	<div class="row">
		<div class="col-md-3">
			<h2 class="header__xs">Film</h2>
		</div>
	</div>
</div> <!-- end of container -->

<div class="container">
	<div class="row">
		<div class="col-md-7">

			<h2 class="tester"><%=@movie.title%></h2>
			<h2 class="tester"><%=@movie.year%></h2>
			<h2 class="tester"><span class="test_small"><%=@movie.plot%></span></h2>

			 <div class="btn-group" role="group">

				<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-default" role="button">Trailer</a>

 			 </div>

 			<br>
 			<br>
 			<a href="/movies">Back</a>
		</div>



		<div class="col-md-5">
			<br>
			 <div class="poster">
				<img src="<%=@movie.poster_url %>">
    	</div>

	</div>

</div>
